<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neaflix</title>
    <link rel="stylesheet" type="text/css" href="../l_styles.css">
</head>

<body>
    <div class="form-wrapper">
        <h2>로그인</h2>
        <form action="/loginProc" method="POST">
            <div class="form-control">
                <input type="text" id="user_id" name="user_id" required />
                <label for="user_id">이메일 주소 또는 전화번호</label>
            </div>
            <div class="form-control">
                <input type="password" id="pw" name="pw" required />
                <label for="pw">비밀번호</label>
            </div>
            <button type="submit" id="loginButton">로그인</button>
            <div class="form-help">
                <div class="remember-me">
                    <input type="checkbox" id="remember-me" name="remember-me" />
                    <label for="remember-me">로그인 정보 저장</label>
                </div>
                <a href="/help">도움이 필요하신가요?</a>
            </div>
            <p>Neaflix 회원이 아닌가요? <a href="/signup">지금 가입하세요.</a></p>
        </form>
    </div>
</body>

</html>
